/********************************************************
 * Version 2.3.0
 * Config must be configured by the user
 *****************************************************/

#ifndef _userConfig_H
#define _userConfig_H  

/********************************************************
 * General settings
 *****************************************************/
#define MACHINE_TYPE "rancilio"  // supported values are "rancilio" and "gaggia".
 
#define FORCE_OFFLINE 0       // 0=default | 1=no WIFI is required at all and Blynk&MQTT will be disabled.
#define DISABLE_SERVICES_ON_STARTUP_ERRORS 1 // 1=on (default) when a service cannot be connected during startup, never retry | 0=off Try reconnecting to service during regular operations.
#define ONLYPID 1             // 1=Nur PID ohne Preinfussion, 0=PID + Preinfussion
#define TEMPSENSOR 2          // 1=DS19B20; 2=TSIC306
#define TEMPSENSORRECOVERY 0  // 1 = on (default), 2= off. If off, temp sensor errors will stop the heater until power cycle
#define TRIGGERTYPE HIGH      // LOW = low trigger, HIGH = high trigger relay
#define OTA true              // true=activate update via OTA
#define GRAFANA 0             // 0=default(off), 1=enable grafana visualisation by Markus (simply ask him for free access)

#define BREWTIME        30.0  // length of time of the brewing (in sec). Used to limit brew time via hardware (ONLYPID=0) or visually (ONLYPID=1).

#define BREWDETECTION 1               // 0 = off ,1 = on (Software/Hardware)
#define BREWDETECTION_SENSITIVITY 0.6 // If temperature drops in the past 5 seconds by this amount, then a brew is detected (BREWDETECTION must be 1)
#define BREWDETECTION_WAIT 90         // (ONLYPID=1) 90=default: Software based BrewDetection is disabled after brewing for this number of seconds
#define BREWDETECTION_POWER 100       // heater utiilization (in percent) during brew (BREWDETECTION must be 1)
                                      // 100 (recommended)

#define BREW_READY_DETECTION 0.3 // 0 = off, [0.0 - 30.0] = enable. If measured temperature of the last 6 seconds has been within this defined margin around the SET_POINT, we are able to brew. (recommended value 0.2) 
#define BREW_READY_LED 0         // 0=off, 1=LED at GPO Pin15 will lighten when BREW_READY_DETECTION triggers

//#define DEBUGMODE              // to enable Debug uncomment this line. Afterwards you can connect via telnet to pot 23 to see debug logs.


/*******   
 * Hardware GPIO Pin Mapping (just change values but don't comment)
 *******/
#define pinTemperature    2    // read temperature (TSIC)
#define pinRelayHeater    14   // trigger relais used to heat water
#define pinRelayVentil    12   // (ONLYPID=0) trigger relais used to open (three-way) valve
#define pinRelayPumpe     13   // (ONLYPID=0) trigger relais used to activate the water pump
#define pinLed            15   // (BREW_READY_LED=1) brewReady LED


/*******   
 * Display Settings
 *******/       
#define DISPLAY 0                         // 0=Deaktiviert, 1=SH1106_128X64, 2=SSD1306_128X64
#define ICON_COLLECTION 0                 // 0:="simple", 1:="smiley"
#define DISPLAY_TEXT "Bleeding-Edge PID"  // Text is displayed on bootup (max 21 chars)
#define EMERGENCY_ICON "rancilio"     // icon displayed when temperature is >EMERGENCY_TEMP. Allowed values are "rancilio" or "steam"
#define EMERGENCY_TEMP 116         // If temperature is higher then notifications are send via display/debug/mqtt.
                                   // Reason might be an error OR the user wants to steam milk.
#define ENABLE_FAILURE_STATUS_ICONS 1  // 1 = on (default), 0 = off. If enabled show status icons if services are offline.


/*******   
 * General PID values
 *******/
#define STEADYPOWER 4.8 // Constant power of heater to accomodate against loss of heat to environment (in %)
                        // (Rancilio Silvia 5E: 4.8 , ...)
#define STEADYPOWER_OFFSET_TIME 13*60 // If brew group is very cold, we need to put additional power to the heater: 
                                      // How long should this additional power be delivered (in s)
#define STEADYPOWER_OFFSET 2.6        // How much power should be added? (in %) (Rancilio Silvia 5E: 2.6, ...)

#define SETPOINT 93     // Temperature SetPoint
#define STARTTEMP 80.0  // If temperature is below this value then Coldstart state should be triggered
                        // (Rancilio Silvia 5E: 80.0 , ...)

// Inner Zone PID values
#define AGGKP 80        // Kp (Rancilio Silvia 5E: 80, ...)
#define AGGTN 11        // Tn (Rancilio Silvia 5E: 11, ...)
#define AGGTV 32        // Tv (Rancilio Silvia 5E: 32, ...)

// Outer Zone PID values
#define AGGOKP 170      // Kp (Rancilio Silvia 5E: 170, ...)
#define AGGOTN 40       // Tn (Rancilio Silvia 5E: 40, ...)
#define AGGOTV 40       // Tv (Rancilio Silvia 5E: 40, ...)


/*******   
 * Preinfussion settings (only useful when ONLYPID=0)
 *******/
#define PREINFUSION       1.5   //  length of time of the pre-infusion (in sec) 
#define PREINFUSION_PAUSE 2     // length of time of the pre-infusion pause (time in between the pre-infussion and brewing) (in sec) 
// dont forget to adapt BREWTIME mentioned above


/*******   
 * networking and services
 *******/
// Wifi
#define HOSTNAME "rancilio"
#define AUTH "blynkauthcode"
#define D_SSID "wlanname"
#define PASS "wlanpass"
//#define STATIC_IP ip(192, 168, x, y);          //uncomment and set this to your network to force static IP
//#define STATIC_GATEWAY gateway(192, 168, x, 1);  //uncomment and set this to your network to force static IP
//#define STATIC_SUBNET subnet(255,255,255,0);      //uncomment and set this to your network to force static IP

// OTA
#define OTAHOST "Rancilio"   // Name to be shown in ARUDINO IDE Port
#define OTAPASS "otapass"    // Password for OTA updates

// Blynk
#define BLYNK_ENABLE 1      // 1=on (default. Blynk PID values overwrite userConfig.h settings) | 0=off (userConfig.h PID settings are used)
#define BLYNKADDRESS "blynk.remoteapp.de"         // IP-Address of used blynk server
// define BLYNKADDRESS "raspberrypi.local"
#define BLYNKPORT 8080

// MQTT
#define MQTT_ENABLE 0       // 0 = off (default) |  1 = on
#define MQTT_SERVER_IP "192.168.x.x"
#define MQTT_SERVER_PORT 1883
#define MQTT_USERNAME "myuser"
#define MQTT_PASSWORD "mypass"
#define MQTT_TOPIC_PREFIX "custom/Küche."  // topic will be "<MQTT_TOPIC_PREFIX><HOSTNAME>/<READING>"


#endif // _userConfig_H
