/* Style for RemoteDebugApp web page  */

.content {
    background-color: var(--content-color);
    overflow: auto;
}

input::placeholder {
    color: #000;
}

/* #header_info_wrapper {
    display: none;
} */

#img_info_features {
    height: 10px !important;
}

#header_connect {
    float: right center;
    margin-left: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0fr 0fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'col col col';
}

/* End */