---
Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands:   Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
BraceWrapping:
  BeforeElse:      true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
ColumnLimit:     225
CommentPragmas:  '^ IWYU pragma:'
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentAccessModifiers: true
IndentCaseLabels: true
IndentCaseBlocks: true
IndentRequires:  false
IndentWidth:     4
PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
QualifierAlignment: Leave
ReflowComments: true
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterIfMacros:   true
UseTab:          Never
...
