# ignore actual user config
rancilio-pid/rancilio-pid/userConfig.h

# ignore PlatformIO build folder
.pio/*

# ignore Visual Studio Code configuration files
**/.vscode

# ignore macOS Finder configuration storage files
**/.DS_Store

