# ignore actual user config
src/userConfig.h

# ignore PlatformIO build folder
.pio/*

# ignore Visual Studio Code configuration files
**/.vscode

# ignore macOS Finder configuration storage files
**/.DS_Store

platformio_extra.ini
**/rancilio-pid.ino.cpp
src/brewscaleini.h
src/userConfig_sample.h
