#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrapper {
    padding-bottom: 9.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    height: 9.5rem;
}