%HEADER%
    %VAR_HEADER_VUE_NUMBER_INPUT%
    %VAR_HEADER_UPLOT%    

    <script type="module">
        if (window.appCreated == true) {
            vueApp.component(VueNumberInput.name, VueNumberInput);
            vueApp.mount('#content')
        } else {
            window.addEventListener('appCreated', () => {
                vueApp.component(VueNumberInput.name, VueNumberInput);
                vueApp.mount('#content')
            })
        }
    </script>

    <div class="content-wrapper">
        <div id="content" class="container my-5">
            <div class="card card-accent-dark mb-5 pb-0 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Status
                    </h5>
                </div>
                <div class="card-body">
                    <form @submit.prevent="postParameters">
                        <div class="row row-cols-1 row-cols-md-3">
                            <div class="col-md-5 mb-4">
                                <label class="form-label me-1 col-form-label">Current Temperature</label><br/>
                                <b><span id="varTEMP"></span> °C</b>
                            </div>

                            <template v-for="param in parameters">
                                <template v-if="param.name == 'BREW_SETPOINT'">
                                    <div class="col-md-4">
                                        <label class="form-label me-1 col-form-label" :for="'var'+param.name">{{param.displayName}}</label>
                                        <template v-if="param.hasHelpText">
                                            <a href="#" role="button" @mouseover="fetchHelpText(param.name)" data-bs-toggle="popover" data-bs-html="true" :data-bs-original-title="parametersHelpTexts[param.name]">
                                                <span class="fa-solid fa-question-circle"></span>
                                            </a>
                                        </template>
                                        <vue-number-input :step="0.1" :id="'var'+param.name" :name="'var'+param.name" v-model="param.value" :min="0" :max="150" style="min-width: 150px; max-width: 200px;   touch-action: manipulation;" center controls></vue-number-input>
                                    </div>
                                </template>
                            </template>
                            <div class="col-md-3 pt-5 pe-5">
                                <button type="submit" class="btn btn-primary float-end" :disabled="isPostingForm">
                                    <span v-show="showPostSucceeded" class="fa-solid fa-check me-1"></span>
                                    <span v-show="isPostingForm" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card card-accent-dark mb-5 pb-0 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Functions
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive pb-0">
                        <table class="table table-borderless pb-0 mb-0">
                            <tbody>
                                <template v-for="param in parameters">
                                    <tr>
                                        <template v-if="param.name == 'PID_ON'">
                                            <td><b>Toggle PID Controller</b></td>
                                            <td><span id="pid_state"></span></td>
                                            <td>
                                                <form action="/togglePid" method="post">
                                                    <input type="hidden" id="varPID_ON" name="varPID_ON" />
                                                    <input type="submit" class="btn btn-primary" :value="param.value == 1 ? 'Off' : 'On'" id="pid_toggle" />
                                                </form>
                                            </td>
                                        </template>
                                        <template v-if="param.name == 'STEAM_MODE'">
                                            <td><b>Toggle Steam Mode</b></td>
                                            <td><span id="steam_state"></span></td>
                                            <td>
                                                <form action="/toggleSteam" method="post">
                                                    <input type="hidden" id="varSTEAM_MODE" name="varSTEAM_MODE" />
                                                    <input type="submit" class="btn btn-primary" :value="param.value == 1 ? 'Off' : 'On'" id="steam_toggle" />
                                                </form>
                                            </td>
                                        </template>
                                        <template v-if="param.name == 'BACKFLUSH_ON'">
                                            <td><b>Toggle Backflush Mode</b></td>
                                            <td><span id="backflush_state"></span></td>
                                            <td>
                                                <form action="/toggleBackflush" method="post">
                                                    <input type="hidden" id="varBACKFLUSH_ON" name="varBACKFLUSH_ON" />
                                                    <input type="submit" class="btn btn-primary" :value="param.value == 1 ? 'Off' : 'On'" id="backflush_toggle" />
                                                </form>
                                            </td>
                                        </template>
                                        <template v-if="param.name == 'TARE_ON'">
                                            <td><b>Toggle Tare Mode</b></td>
                                            <td><span id="tare_state"></span></td>
                                            <td>
                                                <form action="/toggleTare" method="post">
                                                    <input type="hidden" id="varTARE_ON" name="varTARE_ON" />
                                                    <input type="submit" class="btn btn-primary" :value="param.value == 1 ? 'Off' : 'On'" id="tare_toggle" />
                                                </form>
                                            </td>
                                        </template>
                                        <template v-if="param.name == 'CALIBRATION_ON'">
                                            <td><b>Toggle Calibration Mode</b></td>
                                            <td><span id="calibration_state"></span></td>
                                            <td>
                                                <form action="/toggleCalibration" method="post">
                                                    <input type="hidden" id="varCALIBRATION_ON" name="varCALIBRATION_ON" />
                                                    <input type="submit" class="btn btn-primary" :value="param.value == 1 ? 'Off' : 'On'" id="calibration_toggle" />
                                                </form>
                                            </td>
                                        </template>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-accent-dark mb-5 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Temperature
                        <a href="#" role="button" data-bs-toggle="popover" data-bs-html="true" data-bs-original-title="History of the boiler temperature. Drag to zoom, double-click to reset zoom again.">
                            <span class="fa-solid fa-question-circle"></span>
                        </a>
                    </h5>
                </div>
                <div class="card-body">
                    <div id="chart-temperature"></div>
                </div>
            </div>
            <div class="card card-accent-dark mb-5 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Heater Output
                        <a href="#" role="button" data-bs-toggle="popover" data-bs-html="true" data-bs-original-title="History of the controlled heater power. Drag to zoom, double-click to reset zoom again.">
                            <span class="fa-solid fa-question-circle"></span>
                        </a>
                    </h5>
                </div>
                <div class="card-body">
                    <div id="chart-heater"></div>
                </div>
            </div>
            <script>
                if (window.appCreated == true) {
                    import('/js/temp.js?v=1')
                } else {
                    window.addEventListener('appCreated', () => {
                        import('/js/temp.js?v=1')
                    })
                }
            </script>
        </div>
    </div>

%FOOTER%
