%HEADER%
%VAR_HEADER_VUE_NUMBER_INPUT%
%VAR_HEADER_UPLOT%

    <script type="module">
        (window.appCreated ? Promise.resolve() : new Promise(resolve => window.addEventListener('appCreated', resolve)))
            .then(() => vueApp.mount('#content'));
    </script>

    <style>
        /* Custom CSS for larger form switches */
        .form-switch-lg .form-check-input {
            width: 3rem;
            height: 1.5rem;
        }
        .form-switch-lg .form-check-input:focus {
            border-color: rgba(13, 110, 253, 0.25);
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }

        /* Green color for checked switches */
        .form-switch-lg .form-check-input:checked {
            background-color: #198754;
            border-color: #198754;
        }
        .form-switch-lg .form-check-input:checked:focus {
            border-color: rgba(25, 135, 84, 0.25);
            box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
        }
    </style>

    <div class="content-wrapper">
        <div id="content" class="container my-5">
            <div class="card card-accent-dark mb-5 pb-0 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Status
                    </h5>
                </div>
                <div class="card-body">
                    <form @submit.prevent="postParameters">
                        <div class="row row-cols-1 row-cols-md-3">
                            <div class="col-md-5 mb-4">
                                <label class="form-label me-1 col-form-label">Current Temperature</label><br/>
                                <b><span id="varTEMP"></span> °C</b>
                            </div>

                            <template v-for="param in parameters">
                                <template v-if="param.name == 'brew.setpoint'">
                                    <div class="col-md-4">
                                        <label class="form-label me-1 col-form-label" :for="'var'+param.name">{{param.displayName}}</label>
                                        <template v-if="param.hasHelpText">
                                            <a href="#" role="button" @mouseover="fetchHelpText(param.name)" data-bs-toggle="popover" data-bs-html="true" :data-bs-original-title="parametersHelpTexts[param.name]">
                                                <span class="fa-solid fa-question-circle"></span>
                                            </a>
                                        </template>
                                        <vue-number-input :step="0.1" :id="'var'+param.name" :name="'var'+param.name" v-model="param.value" :min="0" :max="150" style="min-width: 150px; max-width: 200px;   touch-action: manipulation;" center controls></vue-number-input>
                                    </div>
                                </template>
                            </template>
                            <div class="col-md-3 pt-5 pe-5 clearfix">
                                <button type="submit" class="btn btn-primary float-end" :disabled="isPostingForm">
                                    <span v-show="showPostSucceeded" class="fa-solid fa-check me-1"></span>
                                    <span v-show="isPostingForm" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card card-accent-dark mb-5 pb-0 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Functions
                    </h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive pb-0">
                        <table class="table table-borderless pb-0 mb-0">
                            <tbody>
                            <template v-for="param in parameters">
                                <tr>
                                    <template v-if="param.name == 'pid.enabled'">
                                        <td class="align-middle"><b>PID Controller</b></td>
                                        <td class="align-middle text-end">
                                            <div class="form-check form-switch form-switch-lg">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       role="switch"
                                                       id="pid_toggle"
                                                       :checked="param.value == 1"
                                                       @change="toggleFunction('/togglePid', 'pid.enabled', param)">
                                                <label class="form-check-label" for="pid_toggle"></label>
                                            </div>
                                        </td>
                                    </template>
                                    <template v-if="param.name == 'STEAM_MODE'">
                                        <td class="align-middle"><b>Steam Mode</b></td>
                                        <td class="align-middle text-end">
                                            <div class="form-check form-switch form-switch-lg">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       role="switch"
                                                       id="steam_toggle"
                                                       :checked="param.value == 1"
                                                       @change="toggleFunction('/toggleSteam', 'STEAM_MODE', param)">
                                                <label class="form-check-label" for="steam_toggle"></label>
                                            </div>
                                        </td>
                                    </template>
                                    <template v-if="param.name == 'BACKFLUSH_ON'">
                                        <td class="align-middle"><b>Backflush Mode</b></td>
                                        <td class="align-middle text-end">
                                            <div class="form-check form-switch form-switch-lg">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       role="switch"
                                                       id="backflush_toggle"
                                                       :checked="param.value == 1"
                                                       @change="toggleFunction('/toggleBackflush', 'BACKFLUSH_ON', param)">
                                                <label class="form-check-label" for="backflush_toggle"></label>
                                            </div>
                                        </td>
                                    </template>
                                    <template v-if="param.name == 'TARE_ON'">
                                        <td class="align-middle"><b>Tare Scale</b></td>
                                        <td class="align-middle text-end">
                                            <div class="form-check form-switch form-switch-lg">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       role="switch"
                                                       id="tare_toggle"
                                                       :checked="param.value == 1"
                                                       @change="toggleFunction('/toggleTareScale', 'TARE_ON', param)">
                                                <label class="form-check-label" for="tare_toggle"></label>
                                            </div>
                                        </td>
                                    </template>
                                    <template v-if="param.name == 'CALIBRATION_ON'">
                                        <td class="align-middle"><b>Scale Calibration Mode</b></td>
                                        <td class="align-middle text-end">
                                            <div class="form-check form-switch form-switch-lg">
                                                <input class="form-check-input"
                                                       type="checkbox"
                                                       role="switch"
                                                       id="calibration_toggle"
                                                       :checked="param.value == 1"
                                                       @change="confirmCalibrationToggle(param)">
                                                <label class="form-check-label" for="calibration_toggle"></label>
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-accent-dark mb-5 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Temperature
                        <a href="#" role="button" data-bs-toggle="popover" data-bs-html="true" data-bs-original-title="History of the boiler temperature. Drag to zoom, double-click to reset zoom again.">
                            <span class="fa-solid fa-question-circle"></span>
                        </a>
                    </h5>
                </div>
                <div class="card-body">
                    <div id="chart-temperature"></div>
                </div>
            </div>
            <div class="card card-accent-dark mb-5 shadow-sm rounded">
                <div class="card-body bg-light pb-1 rounded">
                    <h5 class="card-title">
                        Heater Output
                        <a href="#" role="button" data-bs-toggle="popover" data-bs-html="true" data-bs-original-title="History of the controlled heater power. Drag to zoom, double-click to reset zoom again.">
                            <span class="fa-solid fa-question-circle"></span>
                        </a>
                    </h5>
                </div>
                <div class="card-body">
                    <div id="chart-heater"></div>
                </div>
            </div>
            <script>
                if (window.appCreated == true) {
                    import('/js/temp.js?v=1')
                } else {
                    window.addEventListener('appCreated', () => {
                        import('/js/temp.js?v=1')
                    })
                }
            </script>
        </div>
    </div>

</div>

</body>
</html>
